
body {
  font-family:"Verdana";
}

*{
  background-color: white;
}

section {
  padding: 50px;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain; 
}
.linea{
  size:3px;
  color:"#FFF1FD"
}

.img_boceto {
  float: left;
  height: 400px;
  margin: 2%;
}

.texto_bocetos {
  height: 400px;
  margin-top: 30px;
}