header li {
    margin: 0 10px;
    /* Debajo estamos aplicando separación a los elementos del ul directamente 
    si se desea se puede eliminar el space del ul y jugar con los margenes en
    el eje horizontal
    */
}

a {
  text-decoration: none; /* Remueve estilos de los links */
  color: black; /* Color de los links */
}

header {
  color: white;
  padding: 30px;
  font-size: 35px !important;
  border: 2px solid black;
  background-color: rgb(1, 189, 190);
  font-size: 16px;
}

ul {
  display: flex; /* Hacemos flex al ul */
  justify-content: center; /* centramos en el eje horizontal*/
  justify-content: space-evenly; /* Aplicamos separación a los elementos dentro del ul */
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

#titulo{
    font-size: 10px !important;
    padding-left: 20px;
    margin: auto;
    text-align: center;
}